
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
}

.hero-section {
    background-image: url('./image-assets/heroimg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.info-section {
    background-color: #f2f5f2;
}

.placeholder {
    height: 250px;
    width: 250px;
}